<div class="main posts-alert"></div>
<div class="scroller posts">
  <article id="messages" *ngFor="let message of messages" class="card post">
    <div class="post-content">
      <img class="post-avatar" alt="" width="40" height="40" src="assets/{{message.avatar}}-1x.jpg">
      <div class="post-text-content">
        <div class="post-title">
          <h1 class="post-heading">{{message.name}}</h1>
          <time class="post-time" [dateTime]="message.time">30s</time>
        </div>
        <p>
          {{message.text}}
        </p>
      </div>
    </div>
  </article>
</div>

<form action="">
  <input [(ngModel)]="message" [ngModelOptions]="{standalone: true}" />
  <button (click)="sendMessage()">Send</button>
</form>